@import 'variables';

.section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.section__content {
  flex: 1;
  max-width: 500px;
  padding: 20px 30px;
}

.section--white {
  background: $white;
}

.section--purple {
  background: $purple;
  color: $white;

  h1, h2, h3, h4 {
    color: $white;
  }
}

.section--gradient {
  background-color: #402761;
  background: linear-gradient(to bottom right, #704c9c, #9E2189, #BD7415);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.split {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
}

.split__section {
  flex: 1 1 200px;
  margin: 0 10px;
}
