@import 'variables';

.section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.section__content {
  flex: 1;
  max-width: 700px;
  padding: 40px 30px 50px;

  /* For squig */
  z-index: 1;
  padding-bottom: 260px;
}

.section__content--top {
  padding-top: 40px;
  padding-bottom: 260px; /* Should be pulled from section__content */
  justify-content: center;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.section--white, .section--purple {
  padding-top: 0;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    z-index: 0;
    background-position: center top;

    /* Height-dependent */
    height: 200px;
    /* Should be slightly less than 200px to avoid hairline separation between top border and image */
    margin-top: -180px;
    background-size: 100vw 200px;

    @media (max-width: 800px) {
      background-size: cover;
      background-position-x: 94%;
    }
  }
}

.section--white {
  background: $white;

  &:before {
    background-image: asset-url('squig-white-black.png');
  }
}

.section--white-purple-shadow:before {
  background-image: asset-url('squig-white-purple.png');
}

.section--purple {
  background: $purple;
  color: $white;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.2);

  h1, h2, h3, h4 {
    color: $white;
  }

  &:before {
    background-image: asset-url('squig-purple.png');
  }
}

.section--gradient {
  background-color: #402761;
  // background: linear-gradient(to bottom left, #4c1f59, #963187, #fdc000);
  background: linear-gradient(45deg, rgb(188, 126, 78), rgb(156, 60, 140), rgb(116, 73, 156));
  // background: linear-gradient(45deg, #bc7e4e 0%,#9d3c7e 25%,#993586 50%,#8d3381 70%,#37215e 100%);
}

.section--top {
  padding-top: 40px;
  min-height: 50vh;
}

.pull-into-squig {
  margin-top: -1em;
}

/* Split columns */

.split {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -25px -1em;
}

.split__section {
  flex: 1 0 220px;
  margin: 0 25px 1em;
}
