@import 'variables';

.nav {
  background: rgba($white, 0.4);
  padding: 14px 19px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;

  a, a:visited {
    color: $white;
    text-decoration: none;
  }
}

.nav__link {
  margin-right: 25px;
  font-weight: 500;
  letter-spacing: 0.4px;

  &:last-child {
    margin-right: 0;
  }
}
