:javascript
  $(window).load(function() {
    // resize header image on page load
    resizeHeaderImage();
    // resize header image on page resize
    $(window).resize(function () {
      resizeHeaderImage();
    });
  });
  // resize header image (dependent on browser / screen width)
  function resizeHeaderImage() {
    var innerHeight = $(".logo-content").height();
    $(".logo-background").css({
      "height": (innerHeight*1.5)
    });
  }
.logo
  .logo-background
  .logo-content
    %p
      %span.white
        RIT Women in Computing
        %span.italics presents
    .logo-image
      = image_tag 'wic-hacks-logo.png'
    %p
      %span.italics.white Hosted by
      %a{ href: "http://www.rit.edu/" } Rochester Institute of Technology
    .event-details
      %p.event-info
        %i.fi-calendar.symbol>
        Saturday and Sunday, February 10th and 11th, 2018
      %p.event-info
        %i.fi-dollar.symbol>
        Free (registration required)
    %p
