#copyright.divider
.section
  .copyright.small-10.medium-7.columns.small-centered.medium-centered
    %p
      Organized by
      %a{ href: "http://wic.rit.edu" } RIT Women in Computing
    %a{ href: "https://www.rit.edu/gccis/women-computing/about-us" }
      = image_tag 'wic-logo.png', class: 'copyright small-12 medium-6 columns small-centered medium-centered partner', alt: "RIT WiC logo"
      %p
        Contact WiCHacks by
        = succeed "," do
          %a{ href: "mailto:wic.hacks.rit@gmail.com" } email
        = succeed "," do
          %a{ href: "http://facebook.com/wic.hacks.rit" } Facebook
        %a{ href: "http://twitter.com/wichacks" } Twitter
  .codeofcon
    %a{ href: "http://static.mlh.io/docs/mlh-code-of-conduct.pdf" }
    %h6
      %a{ href: "http://static.mlh.io/docs/mlh-code-of-conduct.pdf" }
        Code of Conduct
