.text.small-12.small-centered.medium-10.small-centered.columns
  .row
    .small-12.columns
      %h1 Extras
      %p.large
        %b> Our goal is for WIC Hacks to be accessible to women with all levels of programming experience
        \.  With this goal in mind, we have compiled the below list of
        = succeed "." do
          %b learn-to-program resources

  #resources.divider
  .row
    .small-12.columns
      %h2 Resources and Tools for Learning Programming
  .row
    .small-12.large-4.columns
      %h3 Beginning:
      %p Resources in this section will introduce you to basic programming concepts and constucts that are used everywhere.
      %ul
        %li
          %a{ href: "http://pine.fm/LearnToProgram/" } Learn to Program
        %li
          %a{ href: "http://mislav.uniqpath.com/poignant-guide/book/" } Why's poignant guide to Ruby
        %li
          %a{ href: "http://eloquentjavascript.net/" } Eloquent Javascript
        %li
          %a{ href: "http://tryruby.org" } Try Ruby
        %li
          %a{ href: "http://try.github.io/" } Try Git
        %li
          %a{ href: "http://processing.org/" } Processing
        %li
          %a{ href: "http://www.codecademy.com/tracks/python" } Codeacademy: Python
        %li
          %a{ href: "http://www.codecademy.com/tracks/ruby" } Codeacademy: Ruby
        %li
          %a{ href: "http://www.codecademy.com/tracks/javascript" } Codeacademy: JavaScript
        %li
          %a{ href: "http://www.codecademy.com/tracks/web" } HTML/CSS (Web)
        %li
          %a{ href: "http://codingbat.com/" } Codingbat: Java and Python
    .small-12.large-4.columns
      %h3 Intermediate:
      %p This section introduces more powerful and imperitive languages. This includes Cocoa (Objective-C) and C++. It also introduces languages that are more advanced, but still used in industry, such as Go and Scala.
      %ul
        %li
          %a{ href: "http://cocoadevcentral.com/" } Cocoa Dev Central
        %li
          %a{ href: "http://www.learncpp.com/" } Learn C++
        %li
          %a{ href: "http://tour.golang.org/" } Go Tour
        %li
          %a{ href: "http://scalatutorials.com/tour/" } Scala Tutorials
        %li
          %a{ href: "http://try.ocamlpro.com/" } Try OCaml
        %li
          %a{ href: "http://forio.com/products/julia-studio/tutorials/beginner/1/" } Julia Tutorials
          %ul
            %li
              %a{ href: "http://forio.com/julia/repl/" } Try Julia
            %li
              %a{ href: "http://forio.com/products/julia-studio/" } Julia Studio
    .small-12.large-4.columns
      %h3 Advanced:
      %p These resources are for pursuing an interest in advanced programming techniques or tools. They are languages with particular goals that aren't necessisarily needed for a hackathon but that are good to learn anyway.
      %ul
        %li
          %a{ href: "https://realworldocaml.org/" } Real World OCaml
        %li
          %a{ href: "http://learnyousomeerlang.com/" } Learn You Some Erlang
        %li
          %a{ href: "http://learnyouahaskell.com/" } Learn You a Haskell For Great Good
  .row
    .small-12.large-8.columns
      %h3 Frameworks:
      / <p>A Framework is a ;aslkdjfa;lksdjaf;lkdjsaf;lkdjf;akldsjaf;lkdjsaf;lkdjsf;lajs;lie; ; kj;fk   </p>
      .row
        .small-12.large-6.columns
          %p Ruby:
          %ul
            %li
              %a{ href: "http://wiht.link/rubydevresources" } Rails
            %li
              %a{ href: "http://www.sitepoint.com/just-do-it-learn-sinatra-i/" } Just Do It, Learn Sinatra
            %li
              %a{ href: "http://www.padrinorb.com/guides/getting-started" } Getting Started with Padrino
        .small-12.large-6.columns
          %p Python:
          %ul
            %li
              %a{ href: "https://docs.djangoproject.com/en/dev/" } The Django Docs
      .row
        .small-12.large-6.columns
          %p Node.js:
          %ul
            %li
              %a{ href: "http://code.tutsplus.com/tutorials/introduction-to-express--net-33367" } Intro to Express
            %li
              %a{ href: "http://cwbuecheler.com/web/tutorials/2013/node-express-mongo/" } Node, Express, Jade, and MongoDB
        .small-12.large-6.columns
          %p JavaScript:
          %ul
            %li
              %a{ href: "http://emberjs.com/guides/" } The Ember.js Guides
            %li
              %a{ href: "http://docs.angularjs.org/tutorial/" } Angular.js Tutorials
            %li
              %a{ href: "http://backbonetutorials.com/" } Backbone.js Beginner's Tutorial
    .small-12.large-4.columns
      %h3 APIs:
      / <p>An API is a ;aslkdjfa;lksdjaf;lkdjsaf;lkdjf;akldsjaf;lkdjsaf;lkdjsf;lajs;lie; ; kj;fk   </p>
      .row
        .small-12.large-6.columns
          %p Web APIs:
          %ul
            %li
              %a{ href: "https://dev.twitter.com/docs" } Twitter
            %li
              %a{ href: "https://developers.facebook.com/docs/" } Facebook

  = render 'copyright'
