<div class="section section--top">
  (logo and apply button)
</div>

<div id="about"></div>
<div class="section section--white">
  <h2>About</h2>
  <p>Description...</p>
  (video)
</div>

<div id="essential-info"></div>
<div class="section section--purple">
  <h2>About WiCHacks</h2>
  (location, date, getting there)
</div>

<div id="schedule"></div>
<div class="section section--white">
  <h2>Schedule</h2>
  (tbd)
</div>

<div id="faq"></div>
<div class="section section--purple">
  <h2>FAQs</h2>
  (faq boxes)
  (link to FAQ page?)
</div>

<div id="sponsors"></div>
<div class="section section--white">
  <h2>Sponsors</h2>
  <p>
    <b>Is your company interested in sponsoring WiCHacks?</b>
    We would love to talk to you about sponsoring WiCHacks!
    Please email
    <a href="mailto:wic.hacks.rit@gmail.com">wic.hacks.rit@gmail.com</a>
    for more information.
  </p>
  <h6>
    <%= link_to '2018 Sponsor Information »', image_path('WiCHacksSponsorLetter18.pdf') %>
  </h6>
</div>

<div class="section section--bottom">
  (copyright, run by WiC, etc)
</div>
