<div class="section section--gradient section--top">
  <div class="section__content section__content--top">
    <div class="logo clear-fix">
      <%= image_tag("wic-hacks-logo-white-test.png", class:"logo__image logo-box")%>

      <div class="logo__date">
        <div class="logo-box logo-box--no-top-border logo__date-month">
          <ul>
            <li class="logo__date--more-spacing">February</li>
            <li>10-11</li>
          </ul>
        </div>
        <div class="logo-box logo-box--no-top-border logo-box--no-left-border logo__date-year">
          2018
        </div>
      </div>
    </div>
  </div>
  <!-- Apply button -->
</div>

<div id="about"></div>
<div class="section section--white">
  <div class="section__content">
    <h2>About</h2>
    <div class="split">
      <div class="split__section">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum ille: Tu autem cum ipse tantum librorum habeas, quos hic tandem requiris? Nunc omni virtuti vitium contrario nomine opponitur. Si mala non sunt, iacet omnis ratio Peripateticorum. Duo Reges: constructio interrete. Quaerimus enim finem bonorum.</p>
      </div>
      <div class="split__section">
        (video)
      </div>
    </div>
  </div>
</div>

<div id="essential-info"></div>
<div class="section section--purple">
  <div class="section__content">
    <h2>Essential Info</h2>
    <div class="split">
      <div class="split__section">
        <h3>Location</h3>
        (map)
      </div>
      <div class="split__section">
        <h3>Date</h3>
        <p>February 10-11, 2017</p>
        <p>&nbsp;</p>
        <h3>Getting There</h3>
        <p>More information on transportation to come!</p>
      </div>
    </div>
  </div>
</div>

<div id="schedule"></div>
<div class="section section--white">
  <div class="section__content">
    <h2>Schedule</h2>
    <p>We're busy putting together a great weekend of events! Check back in January for a complete schedule.</p>
    <p>The hackathon will take place for 24 hours straight, Saturday into Sunday.</p>
  </div>
</div>

<div id="faq"></div>
<div class="section section--purple">
  <div class="section__content">
    <h2>FAQs</h2>
    <div class="box__wrapper">
      <div class="box box--inverted">
        <div class="box__display">Why only girls?</div>
        <div class="box__description">bar</div>
      </div>
      <div class="box box--inverted">
        <div class="box__display">Will you reimburse for travel?</div>
        <div class="box__description">bar</div>
      </div>
      <div class="box box--inverted">
        <div class="box__display">What meals will be provided?</div>
        <div class="box__description">bar</div>
      </div>
      <div class="box box--inverted">
        <div class="box__display">Is there a way for me to volunteer?</div>
        <div class="box__description">bar</div>
      </div>
      <div class="box box--inverted">
        <div class="box__display">Does this event cost anything?</div>
        <div class="box__description">bar</div>
      </div>
      <div class="box box--inverted">
        <div class="box__display">How will I find a team to work with?</div>
        <div class="box__description">bar</div>
      </div>
    </div>
    <!-- (link to FAQ page?) -->
  </div>
</div>

<div id="sponsors"></div>
<div class="section section--white">
  <div class="section__content">
    <h2>Sponsors</h2>
    <div class="box__wrapper">
      <div class="box">
        <div class="box__display">(logo)</div>
      </div>
      <div class="box">
        <div class="box__display">(logo)</div>
      </div>
      <div class="box">
        <div class="box__display">(logo)</div>
      </div>
      <div class="box">
        <div class="box__display">(logo)</div>
      </div>
      <div class="box">
        <div class="box__display">(logo)</div>
      </div>
      <div class="box">
        <div class="box__display">(logo)</div>
      </div>
    </div>
    <p>
      <b>Is your company interested in sponsoring WiCHacks?</b>
      We would love to talk to you about sponsoring WiCHacks!
      Please email
      <a href="mailto:wic.hacks.rit@gmail.com">wic.hacks.rit@gmail.com</a>
      for more information.
    </p>
    <h6>
      <%= link_to '2018 Sponsor Information »', image_path('WiCHacksSponsorLetter18.pdf') %>
    </h6>
  </div>
</div>

<div class="section section--bottom">
  <div class="section__content">
    (copyright, run by WiC, etc)
  </div>
</div>
