<!DOCTYPE html>
<html>
  <head>

    <title>WiCHacks | RIT Women in Computing</title>

    <!-- Import CSS -->
    <%= stylesheet_link_tag 'splash', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="container">
        
        <div class="social">

        </div>

        <%= image_tag("wic-hacks-logo-white.png", id:"logo")%>
        
        <h1>
          WiCHacks
        </h1>
        <h2>
          <ul id="date">
            <li>February</li>
            <li>10-12</li>
          </ul>
        </h2>

        <ul id=info>
          <li>Coming soon</li>
          <li>Sign up for updates</li>
        </ul>
          
        </div>

       <%= image_tag("splash-pattern.png", class:"resize", id:"pattern")%>


    </div>
  </body>
</html>