<h3>Questions?</h3>
<p>If you have any questions, please check out our <a href="https://wichacks.io/#faq" target="_blank">FAQ</a> or reach out to <a href="mailto:wic.hacks.rit@gmail.com">wic.hacks.rit@gmail.com</a>.
