<h2>You are confirmed!</h2>
<p>This is your confirmation for <%= Rails.configuration.hackathon['name'] %>! We can't wait to see you there. In the meantime, follow us on <a href="https://www.facebook.com/pg/wic.hacks.rit/about/">Facebook</a> and <a href="https://twitter.com/wichacks?lang=en">Twitter</a> to get news and updates.</p>
<p><strong>If you can no longer attend, please let us know so we can open the spot to someone else. <a href="https://wichacks.io/rsvp/deny" target="_blank">I Can No Longer Attend &raquo;</a></strong></p>
<h3>Meet Other Hackers</h3>

