/*
 *= require 'reset.css'
 */

html, body {
   margin: 0;
   height: 100%;
   min-width: 320px;
   font-family: 'Work Sans', sans-serif;
   font-size: 1rem;
}

h1, h2, h3, title, body {
    color: #E2E2E2;
  }

#container{
  min-height: 100%;
  background-color: #402761;
  background: linear-gradient(to bottom left, #704c9c, #90308e, #bd7e4c);
}

.social li {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}

#facebook {
  width: 35px;
  height: 40px;
}

#twitter {
  width: 35px;
}

.center{
  margin: auto;
  width: 50%;
}

#inner-content{
  padding-top: 80px;
  width: 60%;
}

#logo {
  width: 75%;
}

.date {
  font-size: 2.5rem;
  list-style-type: none;
  float: left;
}

#month {
  padding-right: 1.8rem;
}

#year {
  font-size: 5rem;
}

#info {
  font-size: 2rem;
  list-style-type: none;
}

#info ul {
  float: left;
  margin-left: 50%;
}

#info li {
  float: right;
  padding: 0.5rem;
  background: none;
}

.resize {
  width: 100%;
}

#pattern { 
  bottom: -20%;
  position: absolute;
  background: none;
}

/* small screen */
@media screen and (max-width: 700px) {

  html, body {
      font-size: 0.8rem;
  }
}

/* medium screen */
@media screen and (min-width: 700px) and (max-width: 900px) {

  html, body {
      font-size: 1.4rem;
  }
}

/* very large screen */
@media only screen and (min-width: 1150px) {
  html, body {
    font-size: 2.5rem;
  }
}
