$purple: #704d9d;
$black: #141414;

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-size: 1rem;
}

body {
    height: 0;
}

.top-bar,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar .name h1 {
    background: $black !important;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.top-bar .name h1 a {
    font-weight: bold;
    color: #FDC000;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    color: #C7C7C7;
}

.section {
    position: relative;
}

body {
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    position: absolute;
}

.partner,
.sponsor {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

p {
    line-height: 1.4rem;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.large {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.text {
    margin: 0px auto;
    text-align: left;
    padding: 0.3rem 2rem;
    background-color: #fff;
    position: relative;
    z-index: -5;
    max-width: 1000px;
}

.menu-container {
    background-color: $black;
    height:3rem;
    left:0;
    position:fixed;
    width:100%;
    top:0;
    z-index: 10;
}

.menu-symbol {
    font-size: 1.3rem;
    position: relative;
    top: 0.25rem;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 0;
}

div.menu {
    display: inline;
    size: 1rem;
    color: white;
    width: 100%;
    position: absolute;
}

ul.menu-items a li {
    margin:0rem 0.5rem;
    float: right;
    position: relative;
    display: inline-block;
    width: auto;
    font-weight: normal;
}

span.eventname {
    padding:0.8rem 0.5rem;
    color: #FDC000;
    font-weight: bold;
    font-size: 1.4rem;
    width: auto;
    float: left;
    vertical-align: middle;
}

.register {
    border-radius:5px;
    margin: 0;
}

.register {
    background-color: $purple;
}

span.white {
    color: white;
}

.logo {
    position: relative;
    z-index: -5;
    font-size: 1.2rem;
}

.logo a,
.menu a {
    color: white;
    text-decoration: none;
}

.logo a:visited,
.menu a:visited {
    color: white;
}

.menu-link:visited {
    color: white;
}

div.logo p {
    text-align: center;
    font-weight: 600;
    color: #FDC000;
    margin: 0px auto;
    text-shadow: 0px 0px 8px $black;
    font-size: 1.7rem;
    line-height: 1.9rem;
}

.logo-image {
    width: 100%;
    background:rgba(20, 20, 20, 0.6);
    margin: 0.5rem 0px;
    padding: 0.5rem 0;
}

.logo-image img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#header-background {
    width: 100%;
}

.logo-content {
    z-index: -2;
    position: absolute;
    top: 0px;
    margin-top: 7%;
}

.logo-background {
    z-index: -4;
    position: relative;
    background-image: url(logo-background.png);
    background-size: cover;
}

.symbol {
    font-size: 2rem;
    position: relative;
    top: 0.35rem;
    padding: 0rem 0.5rem;
    color: white !important;
    margin: 0;
}

.symbol-menu {
    position: relative;
    display: inline;
    font-size: 1.5rem;
    padding:0.8rem 0.45rem;
    float: left;
    margin: 0;
}

table {
    width: 100%;
}

a.menu-link:hover {
    color: #C7C7C7;
}

.event-details {
    width: 100%;
    margin: auto;
    text-align: center;
}

.logo-content p.event-info {
    display: inline-block;
}

span.italics {
    font-style:italic;
}

.last-updated {
    color: #d4d4d4;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    font-size: 0.9rem;
}

a {
    color: $purple;
    font-weight: bold;
    text-decoration: none;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

a:visited {
    color: $purple;
}

.twitter-follow {
    position: relative;
    float: right;
    z-index: 5;
    top: 0.5rem;
    left: -0.5rem;
    padding-left: 0.6rem;
}

.fb-like {
    position: absolute;
    float: right;
    z-index: 5;
    top: 0.5rem;
    left: -0.5rem;
}

#faqs {
    width: 100%;
}

.faq {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    padding: 0.5%;
}

.faq h4 {
    margin-top: 0;
}

.faq p {
    margin: 0;
}

.faq-inner {
    padding: 0.2rem 0.5rem;
}

.high-school {
    background-color: #FFFDEB;

}

.faq-legend {
    display: block;
    margin-bottom: 3rem;
}

.faq-legend-box {
    background-color: #FFFDEB;
    width: 1rem;
    height: 1rem;
    border:1px solid;
    display: inline-block;
    top: 0.23rem;
    position: relative;
}

.faq-legend-text {
    display: inline;
    font-size: 0.8rem;
}

.copyright {
    vertical-align: middle;
    text-align: center;
}

.copyright p {
    font-size: 0.8rem;
}

.copyright img {
    margin: auto;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

div.partner a img,
div.sponsor a img {
    margin: 0 auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    opacity: 1;
}

div.partner a img:hover,
div.sponsor a img:hover,
.team-pic:hover {
    opacity: 0.7;
}

.team-pic-container {
    padding: 1.5rem 0;
}

.team-pic {
    display: inline-block;
    -webkit-box-shadow: 0px 0px 10px $black;
       -moz-box-shadow: 0px 0px 10px $black;
            box-shadow: 0px 0px 10px $black;
    border-style:solid;
    border-width:5px;
    border-color: white;
}

#thats-all-folks {
    background-color: #F3EBFF;
    border-radius: 10px;
    padding: 10px;
}

.team-name {
    font-weight: bold;
    text-transform: uppercase;
    color: $purple;
}

.team-info {
    position: relative;
    padding: 0;
}

.team-major {
    padding-top: 0.4rem;
    font-size: 0.9rem;
}

.codeofcon{
  text-align: center;
}

#minorsimp {
  color: #E82E2E;
}

/* Change divider color for dropdowns in menu */
.top-bar-section .divider {
    border-top: solid 1px #4e4e4e;
}

table {
    border-color: transparent;
}

.divider {
    height: 2.5rem;
    position: relative;
}

a:hover {
    color: #C7C7C7;
}

/* small screen */
@media screen and (max-width: 700px) {

    div.logo p {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .symbol {
        font-size: 1rem;
        top: 0.1rem;
        padding-right: 0.2rem;
    }

    .logo-image img {
        width: 70%;
    }

    .logo-content {
        margin-top: 11%;
    }

    .event-details {
        width: 80%;
    }
}

/* medium screen */
@media screen and (min-width: 700px) and (max-width: 900px) {

    div.logo p {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .symbol {
        font-size: 1.8rem;
        top: 0.3rem;
        padding-right: 0.2rem;
    }
}

/* very large screen */
@media only screen and (min-width: 1150px) {
    div.logo p {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }

    .symbol {
        font-size: 3rem;
        top: 0.3rem;
        padding-right: 0.8rem;
    }
}

